a{
    text-decoration: none;
}
h4{
    color: #A91212;
    font-size: 120%;
    font-weight: bold;
}
/*---------------------- Page d'intro ----------------------------*/

.row {
    margin-right: 0;
    margin-left: 0;
}

.content {
    position: relative;
    height: 100%;
}

.intro {
    z-index: 2;
    overflow: hidden;
}

.intro #gauche {
    position: absolute;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 60%;
    margin-top: -68px;
    padding-left: 0px;
}

.intro #droite {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    height: 100%;
    width: 83%;
    padding-right: 0;
}

.intro #focus {
    position: absolute;
    height: 50%;
    z-index: 5;
    padding-top: 20%;
    margin-top: 10%;
    margin-left: 22%;
}
.tag h2{
    font-weight: bold;
}


/*--------------------- ANIMATION INDEX MODALE HASHTAG ----------*/

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.modal-container p {
  padding: 8px;
}
.modal-default-button {
  float: right;
}
.modal-enter {
  opacity: 0;
}
.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*--- Keyframes pour bouton focus ---*/

@keyframes rotate-center {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate-center {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    -moz-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
}

#identity a{
    text-decoration: none;
}
/*------------------------- INDEX -----------------------*/

.container {
    padding-left: 0;
    padding-right: 0;
}

#identity, #hashtag {
    text-align: center;
    height: 100%;
    border-bottom: solid 5px #A91212;
}
#hashtag a {
    text-decoration: none;
}
#hashtag p{
    font-weight: bold;
    font-size: 150%;
}
#identity {
    background-color: white;
}

#name {
    font-size: 200%;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2%;
    color: black;
}

h2#job {
    font-size: 110%;
    margin-top: 0;
    padding-bottom: 3%;
    margin-bottom: 0;
    color: black;
}

#me {
    padding-left: 0;
    padding-right: 0;
}

#hashtag {
    background-color: #C2C0C2;
    padding-top: 8%;
    padding-bottom: 10%;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}

#hashtag p {
    color: #A91212;

    font-size: 160%;
    line-height: 100%;
}


/*--------------------------- PAGE CONTACT ------------------------*/

#contactez {
    background-color: #C2C0C2;
    height: 800px;
}

.contactez {
    color: #A91212;
    font-weight: bold;
    text-align: center;
    font-size: 150%;
}

.choix {
    color: #A91212;
    font-weight: bold;
    text-align: center;
    font-size: 110%;
}
#iconssocial{
    margin-left: 33%;
}

#form {
    padding-top: 5%;
    margin-bottom: 5%;
}

#form input {
    margin-bottom: 5%;
}

#form button {
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 7%;
    color: white;
    background-color: #A91212;
    font-weight: bold;
}

/*----------------------- PAGE COMPETENCES ------------------------*/

#menuCompet {
    background-color: #C2C0C2;
    height: 555px;
}

#bulle1 {
    width: 180px;
    height: 180px;
    margin-top: 15%;
    padding-top: 16%;
    margin-left: 15%;
    background: #A91212;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
#bulle1 a {
    font-size: 120%;
    padding-left: 45px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
#bulle2 {
    width: 180px;
    height: 180px;
    padding-top: 80px;
    margin-left: 45%;
    font-size: 120%;
    background: #A91212;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

#bulle2 a {
    color: white;
    padding-left: 10px;
    font-weight: bold;
    text-decoration: none;
}
/*------------------------------------ Compétences dev -------------------*/
.dev{
    width: 100px;
    height: 100px;
}
.icons_dev{
    background-color: #C2C0C2;
    height: 545px;
    padding-top: 2%;
    padding-left: 2%;
}
.icons_dev a{
    text-decoration: none;
}
.icons_dev img{
    margin: 0 auto;
    display: block;
}
.icons_dev p{
    text-align: center;
    color: white;
    font-weight: bolder;
}
/*------------------------------- PAGE DIPLOMES ---------------------*/
.diplomes{
    height: 555px;
    background-color: #C2C0C2;
}

/*------------------------------- MENU PORTFOLIO -------------------*/

#menuPortfolio{
    background-color: #C2C0C2;
    height: 555px;
}
#bulle3 {
    width: 180px;
    height: 180px;
    margin-top: 5%;
    padding-top: 14%;
    margin-left: 5%;
    font-size: 90%;
    background: #A91212;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
#bulle3 a {
    padding-left: 2px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
}
#bulle4 {
    width: 180px;
    height: 180px;
    padding-top: 80px;
    margin-left: 40%;
    font-size: 90%;
    margin-top: -8%;
    background: #A91212;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

#bulle4 a {
    color: white;
    padding-left: 10px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
}
#bulle5{
    width: 180px;
    height: 180px;
    padding-top: 70px;
    margin-left: 8%;
    margin-top: -8%;
    font-size: 90%;
    background: #A91212;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
#bulle5 a {
    color: white;
    padding-left: 2px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
}
#bulle6{
    width: 180px;
    height: 180px;
    margin-top: 15%;
    padding-top: 16%;
    margin-left: 45%;
    background: #A91212;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
#bulle6 a {
    font-size: 120%;
    padding-left: 45px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
#bulle7 {
    width: 180px;
    height: 180px;
    padding-top: 80px;
    margin-left: 1%;
    font-size: 120%;
    background: #A91212;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

#bulle7 a {
    color: white;
    padding-left: 10px;
    font-weight: bold;
    text-decoration: none;
}
/*------------------------- Portfolio -------------------*/
.portDev{
    background-color: #C2C0C2;
    padding-bottom: 80px;
}
.portDev h4{
    margin-top: 0px;
    padding-top: 2%;
}
.portJournalisme{
    background-color: #C2C0C2;
}
.blockPort{
    padding: 3%;
}
.lienPort{
    color: #A91212;
}
#imgPort{
    margin-top: 15px;
}

/*-------------------------- FOOTER -------------------------------*/
footer {
    background-color: white;
    border-top: solid 5px #A91212;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer .row {
    margin-right: 0;
    margin-left: 0;
}

footer a {
    list-style-type: none;
    color: black;
    display: inline-block;
    font-size: 65%;
    margin: 0;
}
.icon {
    width: 50%;
}
#foot {
    padding-top: 2%;
    padding-left: 7%;
}
#foot #contact p{
    padding-left: 5px;
}
#diplomes {
    padding-top: 5%;
}
#foot #diplomes p{
    padding-top: 3px;
}
#foot #portfolio p{
    padding-left: 3px;
}
.compet{
    padding-left: 5px;
}
